#include <os2.h>

#define IDRESOURCE 1

#define IDMEXIT      10
#define IDMOPTIONS   20
#define   IDMSOUND   21
#define   IDMMAXIMIZECLIENT 22
#define IDMCOLOR     40
#define IDMDEFAULT   47
#define IDMBITMAPS1  60
#define   IDMBITMAP1 61
#define   IDMBITMAP2 62
#define   IDMBITMAP3 63
#define   IDMBITMAP4 64
#define IDMCLIPBRD   65
#define IDMHELP      70

ICON   1 fling.ico
BITMAP 1 fling1.bmp
BITMAP 2 fling2.bmp
BITMAP 3 fling3.bmp
BITMAP 4 fling4.bmp

menu IDRESOURCE
{
  MENUITEM "E~xit",        IDMEXIT
  SUBMENU  "~Options",     IDMOPTIONS
  {
    MENUITEM "~Sound",                   IDMSOUND
    MENUITEM "~Maximize Viewing Window", IDMMAXIMIZECLIENT
  }
  SUBMENU  "~Color",       IDMCOLOR
  {
    MENUITEM "BLACK",      IDMDEFAULT,,MIA_CHECKED
    MENUITEM "BLUE",       IDMCOLOR+1
    MENUITEM "RED",        IDMCOLOR+2
    MENUITEM "PINK",       IDMCOLOR+3
    MENUITEM "GREEN",      IDMCOLOR+4
    MENUITEM "CYAN",       IDMCOLOR+5
    MENUITEM "YELLOW",     IDMCOLOR+6
    MENUITEM "DARK GRAY",  IDMCOLOR+8
    MENUITEM "DARK BLUE",  IDMCOLOR+9
    MENUITEM "DARK RED",   IDMCOLOR+10
    MENUITEM "DARK PINK",  IDMCOLOR+11
    MENUITEM "DARK GREEN", IDMCOLOR+12
    MENUITEM "DARK CYAN",  IDMCOLOR+13
    MENUITEM "BROWN",      IDMCOLOR+14
    MENUITEM "PALE GRAY",  IDMCOLOR+15
    MENUITEM SEPARATOR
    MENUITEM "Random",     IDMCOLOR+16
  }
  SUBMENU "~Bitmaps",      IDMBITMAPS1
  {
    MENUITEM "#1",         IDMBITMAP1, MIS_BITMAP
    MENUITEM "#2",         IDMBITMAP2, MIS_BITMAP
    MENUITEM "#3",         IDMBITMAP3, MIS_BITMAP | MIS_BREAK
    MENUITEM "#4",         IDMBITMAP4, MIS_BITMAP
  }
  MENUITEM "Cli~pboard",   IDMCLIPBRD
  MENUITEM "F1=Help",      IDMHELP, MIS_HELP | MIS_BUTTONSEPARATOR
}

